body {
    font-family: sans-serif;
    min-height: 100vh;
    color: #555;
    margin: 0;
}

table {
    width: 90%; /* Use a percentage for responsiveness */
    margin: 30px auto;
}

table th,
table td {
    padding: 1rem; /* Use relative units for padding */
}

#total-repositories,
#last-updated {
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-left: 5%; /* Use a percentage for left margin */
    margin-right: 5%; /* Use a percentage for right margin */
}

@media (max-width: 600px) {
    table {
        width: 100%; /* Adjust for smaller screens */
    }

    #total-repositories,
    #last-updated {
        margin-left: 2%; /* Adjust for smaller screens */
        margin-right: 2%; /* Adjust for smaller screens */
    }
}
