* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    color: #555;
}

table {
    width: 90%; /* Adjusted to a percentage for responsiveness */
    margin: 30px auto;
}

table th,
table td {
    padding: 10px 0.5em; /* Adjusted padding with relative unit */
    border: thin solid #d4d4d4;
    text-align: center;
    background-color: #f4f4f4; /* Background color for table headers */
}

table td {
    width: auto; /* Adjusted to auto for responsiveness */
}

#total-repositories,
#last-updated {
    margin-top: 20px; /* Adjusted top margin for both elements */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    table {
        width: 100%; /* Full width for smaller screens */
    }

    #total-repositories,
    #last-updated {
        margin-top: 10px; /* Reduced top margin for smaller screens */
    }
}
